@model WeatherResponse
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="location">NAS Jacksonville Hospital</h1>
    <h3 class="datetime">Today is Thursday, March 25, 2021 10:45am </h3>
<div class="clearfix"></div>

<body>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <div class="widget-container">

        <div class="widget-item widget-item-1">
            <h2 class="HeatStressFlag">
                Heat Stress Condition Flag:
            </h2>

            <img src="~/Images/Dark_green_flag_waving.png" width="175" height="175" />
            <div> Green: Discretion is required when planning heavy exercise for unacclimatized personnel.</div>
        </div>


        <div class="widget-item widget-item-2">
            <div class="wbgt">WBGT: 70</div>
            <div class="temperature">Temperature: 77°</div>
            <div class="pressure">Pressure: 30</div>
            <div class="humidity">Humidity: 93%</div>




            
            <div class="weather-icon">
                <div class="icon">
                    @*<div class="cloud white">
                            <div class="sunny"><div class="m-rays"></div></div>
                        </div>*@
                </div>
            </div>

        </div>


        <div class="widget-item widget-item-3">
            <h1 class="forecast">This Week's Forecast: </h1>
            <div class="weather-icon">
                <div class="icon">
                    <div class="cloud white"></div>
                    <div class="flake"></div>
                    <div class="flake"></div>
                </div>
            </div>
            <div class="day">
                Monday
            </div>
            <div class="weather-icon">
                <div class="icon">
                    <div class="cloud white">
                        <div class="sunny"><div class="m-rays"></div></div>
                    </div>
                </div>
            </div>
            <div class="day">
                Tuesday
            </div>
            <div class="weather-icon">
                <div class="icon">
                    <div class="cloud"></div>
                    <div class="rain"></div>
                    <div class="rain"></div>
                </div>
            </div>
            <div class="day">
                Wednesday

            </div>
        </div>



    </div>
    @*<div class="widget-container">
        4 
        <div class="widget-upper">
            <div class="upper-left">
                @{
                    <img src="~/Images/Dark_green_flag_waving.png" width="175" height="175" />
                    <div class="WBGT"> <div> WBGT: </div> </div>



                }
            </div>*@
    @*<div class="upper-right">
                <div>77</div>

                <div>Tue 10:45</div>
                <div class="weather-icon">
                    <div class="icon">
                        <div class="cloud white">
                            <div class="sunny"><div class="m-rays"></div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <div class=" line1">
            </div>*@

    @*<div class="widget-lower">

                <div class=" line2"></div>
                <div class="'forecast-box">

                    <div class="f-day1">
                        <span>Monday</span>
                        <div>
                            <div class="weather-icon">
                                <div class="icon">
                                    <div class="cloud"></div>
                                    <div class="rain"></div>
                                    <div class="rain"></div>
                                </div>
                            </div>
                        </div>
                        <span>77</span>
                    </div>
                    <div class="f-day2">
                        <span>Tue</span>
                        <div>[Cloud]</div>
                        <span>77</span>
                    </div>
                    <div class="f-day3">
                        <span>Wed</span>
                        <div>[Cloud]</div>
                        <span>77</span>
                    </div>
                    <div class="f-day4">
                        <span>Thu</span>
                        <div>[Cloud]</div>
                        <span>77</span>
                    </div>
                    <div class="f-day5">
                        <span>Fri</span>
                        <div>[Cloud]</div>
                        <span>77</span>
                    </div>


                </div>
            </div>
        </div>


        <div class="weather-icon">
            <div class="icon">
                <div class="cloud"></div>
                <div class="rain"></div>
                <div class="rain"></div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="cloud"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="cloud white"></div>
                <div class="flake"></div>
                <div class="flake"></div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="cloud white">
                    <div class="cloudy"></div>
                </div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="cloud white">
                    <div class="sunny"><div class="m-rays"></div></div>
                </div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="sun"><div class="rays"></div></div>
            </div>
        </div>
        <div class="weather-icon">
            <div class="icon">
                <div class="cloud white">
                    <div class="sunny"><div class="m-rays"></div></div>
                    <div class="rain"></div>
                    <div class="rain"></div>
                </div>*@

</body>